{% extends "base.html" %}
{% load static %}
<script>
    var chessPiecePath = "{% static 'img/' %}";
</script>


{% block title %}Chess Game{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/chessboard-1.0.0.min.css' %}">

    <div class="container">
        <h1>ꉓꃅꍟꌗꌗ ꁅꍏꎭꍟ</h1>
        <div class="board" id="board"></div>
        <div class="captured-pieces">
            <div class="captured-top" id="captured-top"></div> <!-- AI's eliminated pieces -->
            <div class="board" id="board"></div>
            <div class="captured-bottom" id="captured-bottom"></div> <!-- Player's eliminated pieces -->
        </div>
        
        <div class="buttons">
            <button class="play-again">Play Again</button>
            <button class="set-pos">Set Position</button>
            <button class="flip-board">Flip Board</button>
        </div>
        <div id="move-history" class="move-history"></div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/chessboard-1.0.0.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="{% static 'js/chess.js' %}"></script>
    {% endblock %}
