{% extends 'base.html' %}

{% block title %}Home - UJ Gamex{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="homelogo">
        <img src="static/images/ujlogo.png" alt="Welcome to UJGAMEX!" style="width: 80%;">
    </div>
    <h1 class="mt-4">Welcome to UJ Gamex!</h1>
    <p class="lead">Play exciting games right here!</p>

    <!-- Games Section -->
    <div class="row mt-4">
        <!-- Game 1: Tic-Tac-Toe -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/tictactoe.jpg" class="card-img-top" alt="Tic-Tac-Toe">
                <div class="card-body">
                    <h5 class="card-title">Tic-Tac-Toe</h5>
                    <p class="card-text">Play with a cool strategy!</p>
                    <a href="{% url 'tic_tac_toe' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>

        <!-- Game 2: Rock-Paper-Scissors -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/rockpaperscissors.jpg" class="card-img-top" alt="Rock-Paper-Scissors">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 1.2em;">Rock-Paper-Scissors</h5>
                    <p class="card-text">Let's Win it Faster!</p>
                    <a href="{% url 'rock_paper_scissors' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>

        <!-- Game 3: Memory Cards -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/snakex.jpg" class="card-img-top" alt="Snakex">
                <div class="card-body">
                    <h5 class="card-title">Memory Cards</h5>
                    <p class="card-text">Test your memory skills!</p>
                    <a href="{% url 'memory_card_game' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <!-- Game 4: Coming Soon -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/snakex.jpg" class="card-img-top" alt="Snakex">
                <div class="card-body">
                    <h5 class="card-title">Snakex</h5>
                    <p class="card-text">Classic Arcade Fun!</p>
                    <a href="{% url 'snake_game' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>

        <!-- Game 5: Chess -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/chess.jpg" class="card-img-top" alt="Chess">
                <div class="card-body">
                    <h5 class="card-title">Chess</h5>
                    <p class="card-text">Play the Classic Strategy Game!</p>
                    <a href="{% url 'chess_game' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>

        <!-- Game 6: Ludo -->
        <div class="col-md-4">
            <div class="card shadow-sm">
                <img src="static/img/gameicons/ludo.jpg" class="card-img-top" alt="Ludo">
                <div class="card-body">
                    <h5 class="card-title">Ludo</h5>
                    <p class="card-text">Wanna play the fun with AI!</p>
                    <a href="{% url 'ludo' %}" class="btn btn-primary">Play Now</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Example Dynamic Data -->
    {% if user.is_authenticated %}
        <p class="mt-4">Hello, {{ user.username }}! You are logged in.</p>
    {% else %}
        <p class="mt-4">You are not logged in. <a href="{% url 'login' %}">Login</a> to access more features.</p>
    {% endif %}

    <!-- Leaderboard Section -->
    <div class="row mt-5">
        {% include 'leaderboard.html' %}
    </div>
</div>

{% endblock %}
