{% extends "base.html" %}

{% load static %}

{% block title %}Memory Cards{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/memory_card_game.css' %}">
<h1>Memory Card Game</h1>
    <div class="game-container">
        <div class="info-panel">
            <p>Moves: <span id="moves">0</span></p>
            <p>Time Left: <span id="timer">60</span> seconds</p>
        </div>
        <div class="game-board" id="gameBoard"></div>
        <button id="reset">Restart</button>
        <div id="win-message" class="hidden">🎉 Congratulations! You won the game! 🎉</div>
    </div>

<script src="{% static 'js/memory_card_game.js' %}"></script>
{% endblock %}
